In [102]:
# Imports
import pandas as pd
import numpy as np
import pyodbc 

# from sklearn.linear_model import RandomForestClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error

In [ ]:
server = 'tcp:sports-iq.database.windows.net,1433' 
database = 'main' 
username = 'CloudSAeab82b26' 
password = ''

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [104]:
sql = """
SELECT
    PlayerID, Games, AtBats, Runs, Hits, Doubles, Triples, HomeRuns, RunsBattedIn AS [RBI], BattingAverage, Strikeouts, Walks, HitByPitch, Steals, CaughtStealing, OBP, Slug, OBPPlus
FROM
    MLB.Batting
WHERE 
    SeasonType = 1
"""

player_data = pd.read_sql(sql, cnxn)

print(player_data.shape)

C:\Users\benja\AppData\Local\Temp\ipykernel_6192\837178767.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  player_data = pd.read_sql(sql, cnxn)

(32995, 18)

In [105]:
sql = "SELECT *, FirstName + ' ' + LastName AS [FullName] FROM MLB.Players WHERE [Status] = 'Active'"

players = pd.read_sql(sql, cnxn)

print(players.shape)

(1202, 13)

C:\Users\benja\AppData\Local\Temp\ipykernel_6192\2118307179.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  players = pd.read_sql(sql, cnxn)

In [106]:
# Idea: Allow users to adjust this in the UI based on their league
def calcFantasyBattingScoreYahoo(row):
	yahooScoringMap = {
		'AtBats': -0.25,
		'Runs': 1,
		'Hits': 1.25,
		'Doubles': 0.25, # Would be add on from the hits for a total of 1.5 per double
		'Triples': 0.5,
		'HomeRuns': 2.25,
		'RBI': 1,
		'Steals': 2.5,
		'Walks': 0.75,
		'HitByPitch': 0.75
	}

	retval = 0

	for key in yahooScoringMap:
		retval += row[key] * yahooScoringMap[key]

	return retval

In [107]:
# print(data.iloc[0])
# print(calcFantasyBattingScoreYahoo(data.iloc[0]))

# data['FantasyScore'] = data.apply(calcFantasyBattingScoreYahoo, axis=1)

# print(data['FantasyScore'])

In [110]:
# print(players.head())
fantasy_pros = pd.read_csv('FantasyPros_2025_Draft_ALL_Rankings.csv')

fantasy_map = {}
missing_players = []

for index, row in fantasy_pros.iterrows():
	#  and players['Position'] in row.Pos
	rslt_df = players.loc[players['FullName'] == row.Name]
	print(rslt_df['PlayerID'])
	if (rslt_df is None):
		print(row.Name)
		missing_players.append(row.Name)
		continue

	# print(rslt_df.PlayerID)
	# fantasy_pros[rslt_df['PlayerID']] = row.RK


# print(fantasy_map)
# print(missing_players)

1201    24134
Name: PlayerID, dtype: int64
489    6093
Name: PlayerID, dtype: int64
113    4807
Name: PlayerID, dtype: int64
16    4391
Name: PlayerID, dtype: int64
989    8171
Name: PlayerID, dtype: int64
685    6835
Name: PlayerID, dtype: int64
260    5351
Name: PlayerID, dtype: int64
272    5379
Name: PlayerID, dtype: int64
9    4343
Name: PlayerID, dtype: int64
338    5573
Name: PlayerID, dtype: int64
680    6824
Name: PlayerID, dtype: int64
91    4734
Name: PlayerID, dtype: int64
371    5689
Name: PlayerID, dtype: int64
462    6010
Name: PlayerID, dtype: int64
330    5545
Name: PlayerID, dtype: int64
768    7082
Name: PlayerID, dtype: int64
1171    10479
Name: PlayerID, dtype: int64
82    4700
Name: PlayerID, dtype: int64
911    7767
Name: PlayerID, dtype: int64
604    6466
Name: PlayerID, dtype: int64
2    4314
Name: PlayerID, dtype: int64
50    4531
Name: PlayerID, dtype: int64
117    4814
Name: PlayerID, dtype: int64
1006    8311
Name: PlayerID, dtype: int64
354    5613
Name: PlayerID, dtype: int64
66    4610
Name: PlayerID, dtype: int64
248    5321
Name: PlayerID, dtype: int64
189    5077
Name: PlayerID, dtype: int64
279    5413
Name: PlayerID, dtype: int64
534    6299
Name: PlayerID, dtype: int64
100    4758
Name: PlayerID, dtype: int64
5    4329
Name: PlayerID, dtype: int64
302    5472
Name: PlayerID, dtype: int64
827    7374
Name: PlayerID, dtype: int64
101    4768
Name: PlayerID, dtype: int64
13    4363
Name: PlayerID, dtype: int64
286    5430
Name: PlayerID, dtype: int64
316    5510
Name: PlayerID, dtype: int64
165    4977
Name: PlayerID, dtype: int64
182    5047
Name: PlayerID, dtype: int64
25    4433
Name: PlayerID, dtype: int64
151    4938
Name: PlayerID, dtype: int64
693    6847
Name: PlayerID, dtype: int64
473    6046
Name: PlayerID, dtype: int64
651    6699
Name: PlayerID, dtype: int64
675    6815
Name: PlayerID, dtype: int64
355    5617
Name: PlayerID, dtype: int64
701    6872
Name: PlayerID, dtype: int64
1170    10478
Name: PlayerID, dtype: int64
60    4580
Name: PlayerID, dtype: int64
116    4813
Name: PlayerID, dtype: int64
276    5400
Name: PlayerID, dtype: int64
211    5183
Name: PlayerID, dtype: int64
985    8135
Name: PlayerID, dtype: int64
487    6087
Name: PlayerID, dtype: int64
206    5175
Name: PlayerID, dtype: int64
1182    10958
Name: PlayerID, dtype: int64
190    5079
Name: PlayerID, dtype: int64
445    5947
Name: PlayerID, dtype: int64
381    5728
Name: PlayerID, dtype: int64
969    8057
Name: PlayerID, dtype: int64
49    4525
Name: PlayerID, dtype: int64
467    6025
Name: PlayerID, dtype: int64
41    4494
Name: PlayerID, dtype: int64
59    4565
Name: PlayerID, dtype: int64
745    6994
Name: PlayerID, dtype: int64
134    4865
Name: PlayerID, dtype: int64
1185    10983
Name: PlayerID, dtype: int64
328    5543
Name: PlayerID, dtype: int64
673    6813
Name: PlayerID, dtype: int64
142    4906
Name: PlayerID, dtype: int64
253    5337
Name: PlayerID, dtype: int64
127    4847
Name: PlayerID, dtype: int64
699    6863
Name: PlayerID, dtype: int64
164    4974
Name: PlayerID, dtype: int64
1049    8569
Name: PlayerID, dtype: int64
406    5829
Name: PlayerID, dtype: int64
241    5286
Name: PlayerID, dtype: int64
275    5392
Name: PlayerID, dtype: int64
861    7438
Name: PlayerID, dtype: int64
88    4727
Name: PlayerID, dtype: int64
317    5513
Name: PlayerID, dtype: int64
344    5586
Name: PlayerID, dtype: int64
968    8056
Name: PlayerID, dtype: int64
802    7205
Name: PlayerID, dtype: int64
570    6368
Name: PlayerID, dtype: int64
451    5970
Name: PlayerID, dtype: int64
949    7995
Name: PlayerID, dtype: int64
198    5114
Name: PlayerID, dtype: int64
387    5748
Name: PlayerID, dtype: int64
278    5402
Name: PlayerID, dtype: int64
1050    8570
Name: PlayerID, dtype: int64
485    6084
Name: PlayerID, dtype: int64
977    8082
Name: PlayerID, dtype: int64
669    6804
Name: PlayerID, dtype: int64
410    5848
Name: PlayerID, dtype: int64
120    4830
Name: PlayerID, dtype: int64
28    4446
Name: PlayerID, dtype: int64
427    5888
Name: PlayerID, dtype: int64
178    5022
Name: PlayerID, dtype: int64
415    5865
Name: PlayerID, dtype: int64
684    6834
Name: PlayerID, dtype: int64
562    6355
Name: PlayerID, dtype: int64
672    6810
Name: PlayerID, dtype: int64
531    6291
Name: PlayerID, dtype: int64
305    5480
Name: PlayerID, dtype: int64
58    4558
Name: PlayerID, dtype: int64
567    6363
Name: PlayerID, dtype: int64
787    7168
Name: PlayerID, dtype: int64
919    7864
Name: PlayerID, dtype: int64
31    4465
Name: PlayerID, dtype: int64
723    6919
Name: PlayerID, dtype: int64
208    5177
Name: PlayerID, dtype: int64
418    5871
Name: PlayerID, dtype: int64
561    6353
Name: PlayerID, dtype: int64
149    4933
Name: PlayerID, dtype: int64
1081    8908
Name: PlayerID, dtype: int64
340    5577
Name: PlayerID, dtype: int64
395    5772
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
1046    8564
Name: PlayerID, dtype: int64
183    5051
Name: PlayerID, dtype: int64
43    4496
Name: PlayerID, dtype: int64
263    5355
Name: PlayerID, dtype: int64
289    5434
Name: PlayerID, dtype: int64
322    5526
Name: PlayerID, dtype: int64
889    7523
Name: PlayerID, dtype: int64
663    6763
Name: PlayerID, dtype: int64
498    6149
Name: PlayerID, dtype: int64
733    6937
Name: PlayerID, dtype: int64
195    5107
Name: PlayerID, dtype: int64
603    6465
Name: PlayerID, dtype: int64
1172    10749
Name: PlayerID, dtype: int64
118    4817
Name: PlayerID, dtype: int64
862    7443
Name: PlayerID, dtype: int64
990    8186
Name: PlayerID, dtype: int64
574    6383
Name: PlayerID, dtype: int64
749    7012
Name: PlayerID, dtype: int64
89    4731
Name: PlayerID, dtype: int64
8    4340
Name: PlayerID, dtype: int64
203    5146
Name: PlayerID, dtype: int64
828    7375
Name: PlayerID, dtype: int64
386    5745
Name: PlayerID, dtype: int64
533    6296
Name: PlayerID, dtype: int64
694    6848
Name: PlayerID, dtype: int64
938    7966
Name: PlayerID, dtype: int64
166    4978
Name: PlayerID, dtype: int64
78    4678
Name: PlayerID, dtype: int64
24    4418
Name: PlayerID, dtype: int64
528    6287
Name: PlayerID, dtype: int64
864    7449
Name: PlayerID, dtype: int64
38    4486
Name: PlayerID, dtype: int64
15    4378
Name: PlayerID, dtype: int64
624    6534
Name: PlayerID, dtype: int64
1    4297
Name: PlayerID, dtype: int64
506    6175
Name: PlayerID, dtype: int64
152    4945
Name: PlayerID, dtype: int64
296    5461
Name: PlayerID, dtype: int64
200    5126
Name: PlayerID, dtype: int64
369    5678
Name: PlayerID, dtype: int64
566    6360
Name: PlayerID, dtype: int64
222    5214
Name: PlayerID, dtype: int64
3    4322
Name: PlayerID, dtype: int64
1111    9192
Name: PlayerID, dtype: int64
539    6308
Name: PlayerID, dtype: int64
121    4832
Name: PlayerID, dtype: int64
204    5147
Name: PlayerID, dtype: int64
1045    8563
Name: PlayerID, dtype: int64
727    6926
Name: PlayerID, dtype: int64
392    5764
Name: PlayerID, dtype: int64
266    5364
Name: PlayerID, dtype: int64
620    6521
Name: PlayerID, dtype: int64
724    6921
Name: PlayerID, dtype: int64
408    5839
Name: PlayerID, dtype: int64
776    7117
Name: PlayerID, dtype: int64
274    5390
Name: PlayerID, dtype: int64
587    6412
Name: PlayerID, dtype: int64
264    5356
Name: PlayerID, dtype: int64
396    5777
Name: PlayerID, dtype: int64
170    4992
Name: PlayerID, dtype: int64
0    4293
Name: PlayerID, dtype: int64
883    7499
Name: PlayerID, dtype: int64
777    7119
Name: PlayerID, dtype: int64
717    6901
Name: PlayerID, dtype: int64
441    5940
Name: PlayerID, dtype: int64
187    5060
Name: PlayerID, dtype: int64
730    6933
Name: PlayerID, dtype: int64
192    5090
Name: PlayerID, dtype: int64
691    6843
Name: PlayerID, dtype: int64
806    7221
Name: PlayerID, dtype: int64
33    4470
Name: PlayerID, dtype: int64
53    4538
Name: PlayerID, dtype: int64
497    6140
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
20    4403
Name: PlayerID, dtype: int64
1102    9137
Name: PlayerID, dtype: int64
563    6356
Name: PlayerID, dtype: int64
346    5595
Name: PlayerID, dtype: int64
797    7191
Name: PlayerID, dtype: int64
27    4442
Name: PlayerID, dtype: int64
393    5766
Name: PlayerID, dtype: int64
161    4969
Name: PlayerID, dtype: int64
240    5282
Name: PlayerID, dtype: int64
115    4811
Name: PlayerID, dtype: int64
429    5894
Name: PlayerID, dtype: int64
92    4736
Name: PlayerID, dtype: int64
11    4357
Name: PlayerID, dtype: int64
153    4949
Name: PlayerID, dtype: int64
541    6310
Name: PlayerID, dtype: int64
417    5868
Name: PlayerID, dtype: int64
44    4511
Name: PlayerID, dtype: int64
600    6460
Name: PlayerID, dtype: int64
979    8099
Name: PlayerID, dtype: int64
426    5887
Name: PlayerID, dtype: int64
844    7403
Name: PlayerID, dtype: int64
227    5236
Name: PlayerID, dtype: int64
245    5307
Name: PlayerID, dtype: int64
249    5323
Name: PlayerID, dtype: int64
93    4742
Name: PlayerID, dtype: int64
678    6820
Name: PlayerID, dtype: int64
560    6352
Name: PlayerID, dtype: int64
446    5950
Name: PlayerID, dtype: int64
860    7437
Name: PlayerID, dtype: int64
1048    8567
Name: PlayerID, dtype: int64
97    4754
Name: PlayerID, dtype: int64
959    8015
Name: PlayerID, dtype: int64
509    6212
Name: PlayerID, dtype: int64
295    5460
Name: PlayerID, dtype: int64
345    5590
Name: PlayerID, dtype: int64
960    8022
Name: PlayerID, dtype: int64
312    5496
Name: PlayerID, dtype: int64
216    5194
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
623    6533
Name: PlayerID, dtype: int64
677    6819
Name: PlayerID, dtype: int64
294    5454
Name: PlayerID, dtype: int64
87    4724
Name: PlayerID, dtype: int64
846    7409
Name: PlayerID, dtype: int64
1184    10982
Name: PlayerID, dtype: int64
767    7081
Name: PlayerID, dtype: int64
103    4772
Name: PlayerID, dtype: int64
74    4666
Name: PlayerID, dtype: int64
877    7488
Name: PlayerID, dtype: int64
972    8066
Name: PlayerID, dtype: int64
857    7433
Name: PlayerID, dtype: int64
230    5247
Name: PlayerID, dtype: int64
650    6697
Name: PlayerID, dtype: int64
292    5446
Name: PlayerID, dtype: int64
309    5490
Name: PlayerID, dtype: int64
356    5619
Name: PlayerID, dtype: int64
73    4656
Name: PlayerID, dtype: int64
789    7172
Name: PlayerID, dtype: int64
409    5843
Name: PlayerID, dtype: int64
496    6133
Name: PlayerID, dtype: int64
916    7849
Name: PlayerID, dtype: int64
657    6716
Name: PlayerID, dtype: int64
700    6866
Name: PlayerID, dtype: int64
924    7884
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
37    4479
Name: PlayerID, dtype: int64
732    6936
Name: PlayerID, dtype: int64
68    4634
Name: PlayerID, dtype: int64
859    7436
Name: PlayerID, dtype: int64
366    5664
Name: PlayerID, dtype: int64
542    6312
Name: PlayerID, dtype: int64
734    6939
Name: PlayerID, dtype: int64
457    5982
Name: PlayerID, dtype: int64
1164    10312
Name: PlayerID, dtype: int64
179    5030
Name: PlayerID, dtype: int64
984    8128
Name: PlayerID, dtype: int64
1064    8721
Name: PlayerID, dtype: int64
602    6464
Name: PlayerID, dtype: int64
630    6578
Name: PlayerID, dtype: int64
1103    9150
Name: PlayerID, dtype: int64
119    4826
Name: PlayerID, dtype: int64
619    6513
Name: PlayerID, dtype: int64
111    4802
Name: PlayerID, dtype: int64
42    4495
Name: PlayerID, dtype: int64
140    4904
Name: PlayerID, dtype: int64
348    5600
Name: PlayerID, dtype: int64
79    4680
Name: PlayerID, dtype: int64
454    5977
Name: PlayerID, dtype: int64
363    5646
Name: PlayerID, dtype: int64
782    7129
Name: PlayerID, dtype: int64
143    4908
Name: PlayerID, dtype: int64
358    5624
Name: PlayerID, dtype: int64
442    5942
Name: PlayerID, dtype: int64
147    4926
Name: PlayerID, dtype: int64
512    6226
Name: PlayerID, dtype: int64
942    7972
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
809    7251
Name: PlayerID, dtype: int64
22    4413
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
Series([], Name: PlayerID, dtype: int64)
224    5222
Name: PlayerID, dtype: int64
450    5969
Name: PlayerID, dtype: int64
621    6528
Name: PlayerID, dtype: int64
932    7937
Name: PlayerID, dtype: int64
976    8076
Name: PlayerID, dtype: int64
966    8048
Name: PlayerID, dtype: int64
654    6710
Name: PlayerID, dtype: int64
389    5753
Name: PlayerID, dtype: int64
14    4372
Name: PlayerID, dtype: int64
1094    9082
Name: PlayerID, dtype: int64
416    5867
Name: PlayerID, dtype: int64
1079    8882
Name: PlayerID, dtype: int64
527    6284
Name: PlayerID, dtype: int64
1138    9537
Name: PlayerID, dtype: int64
150    4934
Name: PlayerID, dtype: int64
314    5508
Name: PlayerID, dtype: int64
85    4707
Name: PlayerID, dtype: int64
210    5181
Name: PlayerID, dtype: int64
1128    9470
Name: PlayerID, dtype: int64
996    8217
Name: PlayerID, dtype: int64
215    5192
Name: PlayerID, dtype: int64
714    6898
Name: PlayerID, dtype: int64
646    6643
Name: PlayerID, dtype: int64
609    6483
Name: PlayerID, dtype: int64
380    5726
Name: PlayerID, dtype: int64
56    4554
Name: PlayerID, dtype: int64
510    6218
Name: PlayerID, dtype: int64
202    5137
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
622    6532
Name: PlayerID, dtype: int64
209    5179
Name: PlayerID, dtype: int64
299    5465
Name: PlayerID, dtype: int64
193    5102
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
517    6251
Name: PlayerID, dtype: int64
590    6423
Name: PlayerID, dtype: int64
575    6386
Name: PlayerID, dtype: int64
755    7033
Name: PlayerID, dtype: int64
139    4900
Name: PlayerID, dtype: int64
770    7100
Name: PlayerID, dtype: int64
75    4671
Name: PlayerID, dtype: int64
373    5697
Name: PlayerID, dtype: int64
308    5484
Name: PlayerID, dtype: int64
476    6061
Name: PlayerID, dtype: int64
1105    9159
Name: PlayerID, dtype: int64
256    5344
Name: PlayerID, dtype: int64
469    6028
Name: PlayerID, dtype: int64
301    5469
Name: PlayerID, dtype: int64
350    5604
Name: PlayerID, dtype: int64
829    7376
Name: PlayerID, dtype: int64
17    4392
Name: PlayerID, dtype: int64
12    4359
Name: PlayerID, dtype: int64
243    5292
Name: PlayerID, dtype: int64
1039    8549
Name: PlayerID, dtype: int64
599    6459
Name: PlayerID, dtype: int64
439    5938
Name: PlayerID, dtype: int64
612    6495
Name: PlayerID, dtype: int64
145    4919
Name: PlayerID, dtype: int64
47    4519
Name: PlayerID, dtype: int64
62    4583
Name: PlayerID, dtype: int64
163    4973
Name: PlayerID, dtype: int64
23    4414
Name: PlayerID, dtype: int64
297    5462
Name: PlayerID, dtype: int64
854    7430
Name: PlayerID, dtype: int64
941    7970
Name: PlayerID, dtype: int64
824    7369
Name: PlayerID, dtype: int64
943    7974
Name: PlayerID, dtype: int64
835    7384
Name: PlayerID, dtype: int64
961    8024
Name: PlayerID, dtype: int64
63    4587
Name: PlayerID, dtype: int64
895    7571
Name: PlayerID, dtype: int64
872    7468
Name: PlayerID, dtype: int64
708    6887
Name: PlayerID, dtype: int64
653    6708
Name: PlayerID, dtype: int64
48    4522
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
655    6714
Name: PlayerID, dtype: int64
545    6318
Name: PlayerID, dtype: int64
880    7493
Name: PlayerID, dtype: int64
712    6896
Name: PlayerID, dtype: int64
1076    8848
Name: PlayerID, dtype: int64
1199    12377
Name: PlayerID, dtype: int64
1090    9070
Name: PlayerID, dtype: int64
293    5448
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
61    4582
Name: PlayerID, dtype: int64
95    4751
Name: PlayerID, dtype: int64
1029    8494
Name: PlayerID, dtype: int64
300    5466
Name: PlayerID, dtype: int64
447    5954
Name: PlayerID, dtype: int64
432    5906
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
744    6991
Name: PlayerID, dtype: int64
173    5003
Name: PlayerID, dtype: int64
310    5491
Name: PlayerID, dtype: int64
201    5127
Name: PlayerID, dtype: int64
177    5017
Name: PlayerID, dtype: int64
365    5663
Name: PlayerID, dtype: int64
536    6301
Name: PlayerID, dtype: int64
304    5475
Name: PlayerID, dtype: int64
375    5705
Name: PlayerID, dtype: int64
838    7389
Name: PlayerID, dtype: int64
661    6750
Name: PlayerID, dtype: int64
530    6290
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
1169    10456
Name: PlayerID, dtype: int64
419    5872
Name: PlayerID, dtype: int64
281    5418
Name: PlayerID, dtype: int64
175    5007
Name: PlayerID, dtype: int64
51    4532
Name: PlayerID, dtype: int64
307    5483
Name: PlayerID, dtype: int64
819    7316
Name: PlayerID, dtype: int64
385    5743
Name: PlayerID, dtype: int64
188    5074
Name: PlayerID, dtype: int64
283    5422
Name: PlayerID, dtype: int64
722    6916
Name: PlayerID, dtype: int64
1167    10406
Name: PlayerID, dtype: int64
250    5330
Name: PlayerID, dtype: int64
999    8233
Name: PlayerID, dtype: int64
414    5864
Name: PlayerID, dtype: int64
72    4647
Name: PlayerID, dtype: int64
616    6508
Name: PlayerID, dtype: int64
160    4968
Name: PlayerID, dtype: int64
270    5374
Name: PlayerID, dtype: int64
436    5916
Name: PlayerID, dtype: int64
168    4985
Name: PlayerID, dtype: int64
937    7964
Name: PlayerID, dtype: int64
6    4337
Name: PlayerID, dtype: int64
1167    10406
Name: PlayerID, dtype: int64
1104    9154
Name: PlayerID, dtype: int64
839    7390
Name: PlayerID, dtype: int64
268    5368
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
71    4643
Name: PlayerID, dtype: int64
319    5517
Name: PlayerID, dtype: int64
34    4471
Name: PlayerID, dtype: int64
1099    9100
Name: PlayerID, dtype: int64
86    4719
Name: PlayerID, dtype: int64
399    5784
Name: PlayerID, dtype: int64
521    6267
Name: PlayerID, dtype: int64
1187    11330
Name: PlayerID, dtype: int64
831    7378
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
213    5190
Name: PlayerID, dtype: int64
159    4962
Name: PlayerID, dtype: int64
390    5755
Name: PlayerID, dtype: int64
953    8003
Name: PlayerID, dtype: int64
556    6344
Name: PlayerID, dtype: int64
505    6173
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
81    4696
Name: PlayerID, dtype: int64
231    5249
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
Series([], Name: PlayerID, dtype: int64)
1114    9266
Name: PlayerID, dtype: int64
52    4533
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
158    4960
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
593    6439
Name: PlayerID, dtype: int64
1100    9107
Name: PlayerID, dtype: int64
667    6780
Name: PlayerID, dtype: int64
124    4840
Name: PlayerID, dtype: int64
579    6392
Name: PlayerID, dtype: int64
805    7220
Name: PlayerID, dtype: int64
106    4791
Name: PlayerID, dtype: int64
589    6422
Name: PlayerID, dtype: int64
452    5972
Name: PlayerID, dtype: int64
1101    9113
Name: PlayerID, dtype: int64
948    7987
Name: PlayerID, dtype: int64
769    7087
Name: PlayerID, dtype: int64
110    4801
Name: PlayerID, dtype: int64
64    4588
Name: PlayerID, dtype: int64
148    4930
Name: PlayerID, dtype: int64
736    6943
Name: PlayerID, dtype: int64
1044    8562
Name: PlayerID, dtype: int64
743    6988
Name: PlayerID, dtype: int64
237    5277
Name: PlayerID, dtype: int64
238    5279
Name: PlayerID, dtype: int64
597    6457
Name: PlayerID, dtype: int64
514    6240
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
376    5707
Name: PlayerID, dtype: int64
242    5290
Name: PlayerID, dtype: int64
759    7053
Name: PlayerID, dtype: int64
114    4809
Name: PlayerID, dtype: int64
226    5234
Name: PlayerID, dtype: int64
458    5988
Name: PlayerID, dtype: int64
947    7982
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
228    5240
Name: PlayerID, dtype: int64
Series([], Name: PlayerID, dtype: int64)
36    4477
Name: PlayerID, dtype: int64
1070    8798