In [23]:
import os
import time
import requests
import pandas as pd

api_key = os.environ.get('riot_api_key')
base_url = "https://na1.api.riotgames.com"
solo_duo = "RANKED_SOLO_5x5"

print(api_key)
print(base_url)

RGAPI-f39807c0-1dc0-4741-a2b4-9953668d5da7
https://na1.api.riotgames.com

In [24]:
def getChallengers() -> pd.DataFrame:
	url = f"{base_url}/lol/league/v4/challengerleagues/by-queue/{solo_duo}?api_key={api_key}"

	response = requests.get(url)

	if response.status_code == 200:
			data = response.json()
			players = data['entries']

			return pd.DataFrame(players)

In [25]:
def getMatches(puuid):
	url = f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids?queue=420&start=0&count=20&api_key={api_key}"

	response = requests.get(url)

	if response.status_code == 200:
			data = response.json()

			return data
	else:
		print(response)

In [26]:
blueTeamId = 100
redTeamId = 200
def getWinner(teams):
	for t in teams:
		if t['teamId'] == blueTeamId:
			return 0 if t['win'] else 1

def getChampionID(participants, side, position):
	for p in participants:
		if p['teamId'] == side and p['teamPosition'] == position:
			return p['championId']


def getMatchData(matchId):
	url = f"https://americas.api.riotgames.com/lol/match/v5/matches/{matchId}?api_key={api_key}"

	response = requests.get(url)

	if response.status_code == 200:
		match_data = response.json()

		scrubbed_match_data = {
			'matchId': match_data['metadata']['matchId'],
			'gameDurationSeconds': match_data['info']['gameDuration'],
			'championBlueTop': getChampionID(match_data['info']['participants'], blueTeamId, 'TOP'),
			'championBlueJG': getChampionID(match_data['info']['participants'], blueTeamId, 'JUNGLE'),
			'championBlueMid': getChampionID(match_data['info']['participants'], blueTeamId, 'MIDDLE'),
			'championBlueBot': getChampionID(match_data['info']['participants'], blueTeamId, 'BOTTOM'),
			'championBlueSup': getChampionID(match_data['info']['participants'], blueTeamId, 'UTILITY'),
			'championRedTop': getChampionID(match_data['info']['participants'], redTeamId, 'TOP'),
			'championRedJG': getChampionID(match_data['info']['participants'], redTeamId, 'JUNGLE'),
			'championRedMid': getChampionID(match_data['info']['participants'], redTeamId, 'MIDDLE'),
			'championRedBot': getChampionID(match_data['info']['participants'], redTeamId, 'BOTTOM'),
			'championRedSup': getChampionID(match_data['info']['participants'], redTeamId, 'UTILITY'),
			'winner': getWinner(match_data['info']['teams']) # 0 = Blue side, 1 = Red Side
		}

		return scrubbed_match_data

In [27]:
# Remove Duplicates
match_ids = pd.read_csv("MatchIDs.csv")
match_ids = match_ids.drop("Unnamed: 0", axis=1)

match_ids = match_ids.drop_duplicates()

In [ ]:
match_data = getMatchData(match_ids.iloc[0].match_ids)

print(match_data)

match_datas = []

for index, row in match_ids.iterrows():
	print(row.match_ids)

	match_data = getMatchData(row.match_ids)

	if (index + 1) % 20 == 0:
		print(len(match_ids))
		time.sleep(30) # Sleep 30 seconds so that it won't hit the rate limit

{'matchId': 'NA1_5242178677', 'gameDurationSeconds': 1437, 'championBlueTop': 6, 'championBlueJG': 64, 'championBlueMid': 126, 'championBlueBot': 110, 'championBlueSup': 888, 'championRedTop': 266, 'championRedJG': 254, 'championRedMid': 31, 'championRedBot': 222, 'championRedSup': 201, 'winner': 1}
0
match_ids    NA1_5242178677
Name: 0, dtype: object
1
match_ids    NA1_5241910659
Name: 1, dtype: object
2
match_ids    NA1_5241896512
Name: 2, dtype: object
3
match_ids    NA1_5241251868
Name: 3, dtype: object
4
match_ids    NA1_5241210985
Name: 4, dtype: object
5
match_ids    NA1_5241099123
Name: 5, dtype: object
6
match_ids    NA1_5241059102
Name: 6, dtype: object
7
match_ids    NA1_5241039930
Name: 7, dtype: object
8
match_ids    NA1_5240996452
Name: 8, dtype: object
9
match_ids    NA1_5240978553
Name: 9, dtype: object
10
match_ids    NA1_5240961648
Name: 10, dtype: object
11
match_ids    NA1_5240938796
Name: 11, dtype: object
12
match_ids    NA1_5240780967
Name: 12, dtype: object
13
match_ids    NA1_5240768902
Name: 13, dtype: object
14
match_ids    NA1_5240743141
Name: 14, dtype: object
15
match_ids    NA1_5240715488
Name: 15, dtype: object
16
match_ids    NA1_5240642133
Name: 16, dtype: object
17
match_ids    NA1_5240621248
Name: 17, dtype: object
18
match_ids    NA1_5240552934
Name: 18, dtype: object
19
match_ids    NA1_5240498222
Name: 19, dtype: object
20
match_ids    NA1_5242108722
Name: 20, dtype: object
21
match_ids    NA1_5242036811
Name: 21, dtype: object
22
match_ids    NA1_5239139661
Name: 22, dtype: object
23
match_ids    NA1_5237316218
Name: 23, dtype: object
24
match_ids    NA1_5237289286
Name: 24, dtype: object
25
match_ids    NA1_5237263917
Name: 25, dtype: object
26
match_ids    NA1_5237246010
Name: 26, dtype: object
27
match_ids    NA1_5237227670
Name: 27, dtype: object
28
match_ids    NA1_5236923456
Name: 28, dtype: object
29
match_ids    NA1_5236880170
Name: 29, dtype: object
30
match_ids    NA1_5236740249
Name: 30, dtype: object
31
match_ids    NA1_5236712734
Name: 31, dtype: object
32
match_ids    NA1_5236688951
Name: 32, dtype: object
33
match_ids    NA1_5236672938
Name: 33, dtype: object
34
match_ids    NA1_5236648465
Name: 34, dtype: object
35
match_ids    NA1_5236231753
Name: 35, dtype: object
36
match_ids    NA1_5236144127
Name: 36, dtype: object
37
match_ids    NA1_5235476301
Name: 37, dtype: object
38
match_ids    NA1_5235405906
Name: 38, dtype: object
39
match_ids    NA1_5235379769
Name: 39, dtype: object
40
match_ids    NA1_5240066270
Name: 40, dtype: object
41
match_ids    NA1_5240038372
Name: 41, dtype: object
42
match_ids    NA1_5240004718
Name: 42, dtype: object
43
match_ids    NA1_5239985334
Name: 43, dtype: object
44
match_ids    NA1_5239958231
Name: 44, dtype: object
45
match_ids    NA1_5239920448
Name: 45, dtype: object
46
match_ids    NA1_5239888617
Name: 46, dtype: object
47
match_ids    NA1_5239454564
Name: 47, dtype: object
48
match_ids    NA1_5239442834
Name: 48, dtype: object
49
match_ids    NA1_5239428136
Name: 49, dtype: object
50
match_ids    NA1_5239390493
Name: 50, dtype: object
51
match_ids    NA1_5239356782
Name: 51, dtype: object
52
match_ids    NA1_5239325814
Name: 52, dtype: object
53
match_ids    NA1_5239285325
Name: 53, dtype: object
54
match_ids    NA1_5239235970
Name: 54, dtype: object
55
match_ids    NA1_5239191299
Name: 55, dtype: object
56
match_ids    NA1_5239161332
Name: 56, dtype: object
57
match_ids    NA1_5239133925
Name: 57, dtype: object
58
match_ids    NA1_5238841761
Name: 58, dtype: object
59
match_ids    NA1_5238825532
Name: 59, dtype: object
60
match_ids    NA1_5242770426
Name: 60, dtype: object
61
match_ids    NA1_5242242739
Name: 61, dtype: object
62
match_ids    NA1_5241542622
Name: 62, dtype: object
63
match_ids    NA1_5241153950
Name: 63, dtype: object
64
match_ids    NA1_5241078524
Name: 64, dtype: object
65
match_ids    NA1_5240722694
Name: 65, dtype: object
66
match_ids    NA1_5240690832
Name: 66, dtype: object
69
match_ids    NA1_5240478734
Name: 69, dtype: object
70
match_ids    NA1_5240419125
Name: 70, dtype: object
71
match_ids    NA1_5240377147
Name: 71, dtype: object
72
match_ids    NA1_5240356852
Name: 72, dtype: object
73
match_ids    NA1_5240334215
Name: 73, dtype: object
74
match_ids    NA1_5240304322
Name: 74, dtype: object
75
match_ids    NA1_5240027308
Name: 75, dtype: object
79
match_ids    NA1_5239852532
Name: 79, dtype: object
80
match_ids    NA1_5241345587
Name: 80, dtype: object
81
match_ids    NA1_5241337750
Name: 81, dtype: object
82
match_ids    NA1_5241323096
Name: 82, dtype: object
83
match_ids    NA1_5241294732
Name: 83, dtype: object
84
match_ids    NA1_5241275450
Name: 84, dtype: object
86
match_ids    NA1_5241226253
Name: 86, dtype: object
87
match_ids    NA1_5241182925
Name: 87, dtype: object
88
match_ids    NA1_5241138111
Name: 88, dtype: object
90
match_ids    NA1_5240766740
Name: 90, dtype: object
91
match_ids    NA1_5240748961
Name: 91, dtype: object
92
match_ids    NA1_5240715985
Name: 92, dtype: object
93
match_ids    NA1_5240690727
Name: 93, dtype: object
94
match_ids    NA1_5240656705
Name: 94, dtype: object
95
match_ids    NA1_5240616850
Name: 95, dtype: object
96
match_ids    NA1_5240086654
Name: 96, dtype: object
97
match_ids    NA1_5237050591
Name: 97, dtype: object
98
match_ids    NA1_5237026250
Name: 98, dtype: object
99
match_ids    NA1_5237000800
Name: 99, dtype: object
101
match_ids    NA1_5241254919
Name: 101, dtype: object
102
match_ids    NA1_5241230298
Name: 102, dtype: object
104
match_ids    NA1_5241174650
Name: 104, dtype: object
105
match_ids    NA1_5241146916
Name: 105, dtype: object
106
match_ids    NA1_5239806341
Name: 106, dtype: object
107
match_ids    NA1_5239778731
Name: 107, dtype: object
108
match_ids    NA1_5237312576
Name: 108, dtype: object
110
match_ids    NA1_5237252912
Name: 110, dtype: object
112
match_ids    NA1_5236250726
Name: 112, dtype: object
113
match_ids    NA1_5234336531
Name: 113, dtype: object
114
match_ids    NA1_5234303715
Name: 114, dtype: object
115
match_ids    NA1_5234099002
Name: 115, dtype: object
116
match_ids    NA1_5234064229
Name: 116, dtype: object
117
match_ids    NA1_5234040698
Name: 117, dtype: object
118
match_ids    NA1_5234019791
Name: 118, dtype: object
119
match_ids    NA1_5233993527
Name: 119, dtype: object
120
match_ids    NA1_5241594586
Name: 120, dtype: object
121
match_ids    NA1_5241569624
Name: 121, dtype: object
123
match_ids    NA1_5241530107
Name: 123, dtype: object
124
match_ids    NA1_5241508132
Name: 124, dtype: object
125
match_ids    NA1_5241043774
Name: 125, dtype: object
126
match_ids    NA1_5241018290
Name: 126, dtype: object
128
match_ids    NA1_5240925088
Name: 128, dtype: object
129
match_ids    NA1_5240908806
Name: 129, dtype: object
130
match_ids    NA1_5239022750
Name: 130, dtype: object
131
match_ids    NA1_5234051269
Name: 131, dtype: object
132
match_ids    NA1_5234031051
Name: 132, dtype: object
133
match_ids    NA1_5234012775
Name: 133, dtype: object
134
match_ids    NA1_5233581393
Name: 134, dtype: object
135
match_ids    NA1_5233540530
Name: 135, dtype: object
136
match_ids    NA1_5233507320
Name: 136, dtype: object
137
match_ids    NA1_5233464572
Name: 137, dtype: object
138
match_ids    NA1_5233424391
Name: 138, dtype: object
139
match_ids    NA1_5233390459
Name: 139, dtype: object
140
match_ids    NA1_5241393347
Name: 140, dtype: object
141
match_ids    NA1_5237322886
Name: 141, dtype: object
142
match_ids    NA1_5237299921
Name: 142, dtype: object
143
match_ids    NA1_5237270649
Name: 143, dtype: object
147
match_ids    NA1_5236661458
Name: 147, dtype: object
148
match_ids    NA1_5236642150
Name: 148, dtype: object
149
match_ids    NA1_5236616688
Name: 149, dtype: object
150
match_ids    NA1_5236598419
Name: 150, dtype: object
151
match_ids    NA1_5236589846
Name: 151, dtype: object
152
match_ids    NA1_5236578014
Name: 152, dtype: object
153
match_ids    NA1_5236567096
Name: 153, dtype: object
154
match_ids    NA1_5236556861
Name: 154, dtype: object
155
match_ids    NA1_5236543420
Name: 155, dtype: object
156
match_ids    NA1_5236538840
Name: 156, dtype: object
157
match_ids    NA1_5227293283
Name: 157, dtype: object
158
match_ids    NA1_5227276811
Name: 158, dtype: object
159
match_ids    NA1_5227263916
Name: 159, dtype: object
160
match_ids    NA1_5242737880
Name: 160, dtype: object
165
match_ids    NA1_5239973912
Name: 165, dtype: object
166
match_ids    NA1_5239937432
Name: 166, dtype: object
167
match_ids    NA1_5238791483
Name: 167, dtype: object
168
match_ids    NA1_5238767856
Name: 168, dtype: object
169
match_ids    NA1_5238099357
Name: 169, dtype: object
170
match_ids    NA1_5237601960
Name: 170, dtype: object
171
match_ids    NA1_5237007472
Name: 171, dtype: object
172
match_ids    NA1_5226861599
Name: 172, dtype: object
173
match_ids    NA1_5226826880
Name: 173, dtype: object
174
match_ids    NA1_5226791216
Name: 174, dtype: object
175
match_ids    NA1_5226766682
Name: 175, dtype: object
176
match_ids    NA1_5226500664
Name: 176, dtype: object
177
match_ids    NA1_5226480512
Name: 177, dtype: object
178
match_ids    NA1_5226452714
Name: 178, dtype: object
179
match_ids    NA1_5226418125
Name: 179, dtype: object
180
match_ids    NA1_5242517665
Name: 180, dtype: object
181
match_ids    NA1_5242331089
Name: 181, dtype: object
182
match_ids    NA1_5241984829
Name: 182, dtype: object
183
match_ids    NA1_5241965346
Name: 183, dtype: object
184
match_ids    NA1_5241951294
Name: 184, dtype: object
185
match_ids    NA1_5240818918
Name: 185, dtype: object
186
match_ids    NA1_5240808686
Name: 186, dtype: object
188
match_ids    NA1_5236983225
Name: 188, dtype: object
189
match_ids    NA1_5236964405
Name: 189, dtype: object
191
match_ids    NA1_5236439361
Name: 191, dtype: object
192
match_ids    NA1_5235498036
Name: 192, dtype: object
193
match_ids    NA1_5235458685
Name: 193, dtype: object
194
match_ids    NA1_5234672534
Name: 194, dtype: object
195
match_ids    NA1_5234651127
Name: 195, dtype: object
196
match_ids    NA1_5233138847
Name: 196, dtype: object
197
match_ids    NA1_5233122607
Name: 197, dtype: object
198
match_ids    NA1_5232666715
Name: 198, dtype: object
199
match_ids    NA1_5231746738
Name: 199, dtype: object
200
match_ids    NA1_5242601939
Name: 200, dtype: object
201
match_ids    NA1_5242578785
Name: 201, dtype: object
202
match_ids    NA1_5242565010
Name: 202, dtype: object
203
match_ids    NA1_5242549673
Name: 203, dtype: object
204
match_ids    NA1_5242537670
Name: 204, dtype: object
205
match_ids    NA1_5242528588
Name: 205, dtype: object
206
match_ids    NA1_5242010591
Name: 206, dtype: object
207
match_ids    NA1_5241994566
Name: 207, dtype: object
209
match_ids    NA1_5241971090
Name: 209, dtype: object
210
match_ids    NA1_5241950129
Name: 210, dtype: object
211
match_ids    NA1_5241938434
Name: 211, dtype: object
212
match_ids    NA1_5241936013
Name: 212, dtype: object
213
match_ids    NA1_5241649071
Name: 213, dtype: object
214
match_ids    NA1_5241378821
Name: 214, dtype: object
215
match_ids    NA1_5241369579
Name: 215, dtype: object
216
match_ids    NA1_5241365636
Name: 216, dtype: object
217
match_ids    NA1_5241360196
Name: 217, dtype: object
218
match_ids    NA1_5241349288
Name: 218, dtype: object
219
match_ids    NA1_5232608338
Name: 219, dtype: object
220
match_ids    NA1_5240050218
Name: 220, dtype: object
221
match_ids    NA1_5240020147
Name: 221, dtype: object
223
match_ids    NA1_5239953943
Name: 223, dtype: object
224
match_ids    NA1_5239900269
Name: 224, dtype: object
225
match_ids    NA1_5239870314
Name: 225, dtype: object
226
match_ids    NA1_5239766216
Name: 226, dtype: object
227
match_ids    NA1_5239740912
Name: 227, dtype: object
228
match_ids    NA1_5239706213
Name: 228, dtype: object
231
match_ids    NA1_5239250245
Name: 231, dtype: object
232
match_ids    NA1_5238470481
Name: 232, dtype: object
233
match_ids    NA1_5238036531
Name: 233, dtype: object
234
match_ids    NA1_5237973307
Name: 234, dtype: object
235
match_ids    NA1_5237553564
Name: 235, dtype: object
236
match_ids    NA1_5237534489
Name: 236, dtype: object
237
match_ids    NA1_5237489232
Name: 237, dtype: object
238
match_ids    NA1_5237457078
Name: 238, dtype: object
239
match_ids    NA1_5237429669
Name: 239, dtype: object
240
match_ids    NA1_5236063011
Name: 240, dtype: object
241
match_ids    NA1_5235548811
Name: 241, dtype: object
242
match_ids    NA1_5235517068
Name: 242, dtype: object
243
match_ids    NA1_5235407675
Name: 243, dtype: object
244
match_ids    NA1_5235384110
Name: 244, dtype: object
245
match_ids    NA1_5235364977
Name: 245, dtype: object
246
match_ids    NA1_5235348051
Name: 246, dtype: object
247
match_ids    NA1_5235279867
Name: 247, dtype: object
248
match_ids    NA1_5234998506
Name: 248, dtype: object
249
match_ids    NA1_5234972550
Name: 249, dtype: object
250
match_ids    NA1_5234687362
Name: 250, dtype: object
251
match_ids    NA1_5234644439
Name: 251, dtype: object
252
match_ids    NA1_5234633217
Name: 252, dtype: object
253
match_ids    NA1_5234601204
Name: 253, dtype: object
254
match_ids    NA1_5234371537
Name: 254, dtype: object
255
match_ids    NA1_5234344641
Name: 255, dtype: object
256
match_ids    NA1_5233655258
Name: 256, dtype: object
257
match_ids    NA1_5233624404
Name: 257, dtype: object
258
match_ids    NA1_5233502852
Name: 258, dtype: object
259
match_ids    NA1_5233441646
Name: 259, dtype: object
260
match_ids    NA1_5242394502
Name: 260, dtype: object
262
match_ids    NA1_5241569215
Name: 262, dtype: object
266
match_ids    NA1_5241476459
Name: 266, dtype: object
267
match_ids    NA1_5240917248
Name: 267, dtype: object
268
match_ids    NA1_5240627372
Name: 268, dtype: object
269
match_ids    NA1_5240592305
Name: 269, dtype: object
272
match_ids    NA1_5238242388
Name: 272, dtype: object
273
match_ids    NA1_5238222031
Name: 273, dtype: object
275
match_ids    NA1_5237944896
Name: 275, dtype: object
276
match_ids    NA1_5237901632
Name: 276, dtype: object
277
match_ids    NA1_5237883496
Name: 277, dtype: object
278
match_ids    NA1_5237835749
Name: 278, dtype: object
279
match_ids    NA1_5237820776
Name: 279, dtype: object
281
match_ids    NA1_5241327175
Name: 281, dtype: object
282
match_ids    NA1_5238245225
Name: 282, dtype: object
283
match_ids    NA1_5235749130
Name: 283, dtype: object
284
match_ids    NA1_5235728213
Name: 284, dtype: object
285
match_ids    NA1_5235650056
Name: 285, dtype: object
286
match_ids    NA1_5235609151
Name: 286, dtype: object
287
match_ids    NA1_5235568371
Name: 287, dtype: object
288
match_ids    NA1_5235532168
Name: 288, dtype: object
289
match_ids    NA1_5235485535
Name: 289, dtype: object
290
match_ids    NA1_5235025566
Name: 290, dtype: object
292
match_ids    NA1_5233790757
Name: 292, dtype: object
293
match_ids    NA1_5233763372
Name: 293, dtype: object
294
match_ids    NA1_5225360499
Name: 294, dtype: object
295
match_ids    NA1_5224719067
Name: 295, dtype: object
296
match_ids    NA1_5224663404
Name: 296, dtype: object
297
match_ids    NA1_5224629760
Name: 297, dtype: object
298
match_ids    NA1_5224612803
Name: 298, dtype: object
299
match_ids    NA1_5224165036
Name: 299, dtype: object
300
match_ids    NA1_5242681797
Name: 300, dtype: object
301
match_ids    NA1_5242669600
Name: 301, dtype: object
302
match_ids    NA1_5242654069
Name: 302, dtype: object
303
match_ids    NA1_5242639142
Name: 303, dtype: object
304
match_ids    NA1_5242616501
Name: 304, dtype: object
306
match_ids    NA1_5242580293
Name: 306, dtype: object
307
match_ids    NA1_5242277108
Name: 307, dtype: object
309
match_ids    NA1_5242210358
Name: 309, dtype: object
310
match_ids    NA1_5242101835
Name: 310, dtype: object
311
match_ids    NA1_5242054474
Name: 311, dtype: object
312
match_ids    NA1_5242043989
Name: 312, dtype: object
313
match_ids    NA1_5242025889
Name: 313, dtype: object
315
match_ids    NA1_5241519291
Name: 315, dtype: object
316
match_ids    NA1_5241500635
Name: 316, dtype: object
317
match_ids    NA1_5241477539
Name: 317, dtype: object
318
match_ids    NA1_5241463600
Name: 318, dtype: object
319
match_ids    NA1_5241451970
Name: 319, dtype: object
320
match_ids    NA1_5242787013
Name: 320, dtype: object
321
match_ids    NA1_5242760993
Name: 321, dtype: object
323
match_ids    NA1_5242713200
Name: 323, dtype: object
324
match_ids    NA1_5242686586
Name: 324, dtype: object
325
match_ids    NA1_5242674379
Name: 325, dtype: object
328
match_ids    NA1_5240870721
Name: 328, dtype: object
329
match_ids    NA1_5240855568
Name: 329, dtype: object
330
match_ids    NA1_5240849103
Name: 330, dtype: object
331
match_ids    NA1_5237907476
Name: 331, dtype: object
332
match_ids    NA1_5237872662
Name: 332, dtype: object
336
match_ids    NA1_5236573329
Name: 336, dtype: object
337
match_ids    NA1_5236560292
Name: 337, dtype: object
338
match_ids    NA1_5236552809
Name: 338, dtype: object
339
match_ids    NA1_5232706031
Name: 339, dtype: object
340
match_ids    NA1_5242764710
Name: 340, dtype: object
341
match_ids    NA1_5242747336
Name: 341, dtype: object
342
match_ids    NA1_5242731113
Name: 342, dtype: object
343
match_ids    NA1_5242700665
Name: 343, dtype: object
344
match_ids    NA1_5242358619
Name: 344, dtype: object
345
match_ids    NA1_5242316902
Name: 345, dtype: object
348
match_ids    NA1_5242227736
Name: 348, dtype: object
350
match_ids    NA1_5242151713
Name: 350, dtype: object
351
match_ids    NA1_5241698965
Name: 351, dtype: object
352
match_ids    NA1_5241656463
Name: 352, dtype: object
353
match_ids    NA1_5241624925
Name: 353, dtype: object
355
match_ids    NA1_5241569500
Name: 355, dtype: object
357
match_ids    NA1_5241526488
Name: 357, dtype: object
361
match_ids    NA1_5242744073
Name: 361, dtype: object
363
match_ids    NA1_5242295149
Name: 363, dtype: object
365
match_ids    NA1_5242229963
Name: 365, dtype: object
366
match_ids    NA1_5241748013
Name: 366, dtype: object
367
match_ids    NA1_5241704693
Name: 367, dtype: object
368
match_ids    NA1_5241680966
Name: 368, dtype: object
369
match_ids    NA1_5241646712
Name: 369, dtype: object
371
match_ids    NA1_5241605377
Name: 371, dtype: object
373
match_ids    NA1_5241140920
Name: 373, dtype: object
375
match_ids    NA1_5241069095
Name: 375, dtype: object
376
match_ids    NA1_5241047712
Name: 376, dtype: object
377
match_ids    NA1_5241028296
Name: 377, dtype: object
378
match_ids    NA1_5240955288
Name: 378, dtype: object
380
match_ids    NA1_5242361516
Name: 380, dtype: object
381
match_ids    NA1_5241766213
Name: 381, dtype: object
386
match_ids    NA1_5238783253
Name: 386, dtype: object
387
match_ids    NA1_5238223794
Name: 387, dtype: object
390
match_ids    NA1_5236414196
Name: 390, dtype: object
391
match_ids    NA1_5235709045
Name: 391, dtype: object
392
match_ids    NA1_5234936759
Name: 392, dtype: object
394
match_ids    NA1_5233727215
Name: 394, dtype: object
395
match_ids    NA1_5223247496
Name: 395, dtype: object
396
match_ids    NA1_5223223582
Name: 396, dtype: object
397
match_ids    NA1_5222782153
Name: 397, dtype: object
398
match_ids    NA1_5222750414
Name: 398, dtype: object
399
match_ids    NA1_5222706785
Name: 399, dtype: object
401
match_ids    NA1_5242661075
Name: 401, dtype: object
403
match_ids    NA1_5242630325
Name: 403, dtype: object
404
match_ids    NA1_5242610790
Name: 404, dtype: object
406
match_ids    NA1_5242117110
Name: 406, dtype: object
407
match_ids    NA1_5242090747
Name: 407, dtype: object
408
match_ids    NA1_5242077786
Name: 408, dtype: object
409
match_ids    NA1_5242053717
Name: 409, dtype: object
410
match_ids    NA1_5242013727
Name: 410, dtype: object
411
match_ids    NA1_5241860766
Name: 411, dtype: object
412
match_ids    NA1_5241838918
Name: 412, dtype: object
413
match_ids    NA1_5241806001
Name: 413, dtype: object
414
match_ids    NA1_5241764101
Name: 414, dtype: object
415
match_ids    NA1_5241726996
Name: 415, dtype: object
418
match_ids    NA1_5241503063
Name: 418, dtype: object
419

In [29]:
# challengers = getChallengers()

# match_ids = []

# print(len(challengers))

# for index, row in challengers.iterrows():
# 	matches = getMatches(row.puuid)
# 	match_ids.extend(matches)

# 	if (index + 1) % 20 == 0:
# 		print(len(match_ids))
# 		time.sleep(30) # Sleep 30 seconds so that it won't hit the rate limit

# print(len(match_ids)) # should be 6000

# df = pd.DataFrame({ 'match_ids': match_ids })

# print(df.shape)

# df.to_csv("./MatchIDs.csv")